<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vio.genalg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenAlg">
        <activity
            android:name=".KPActivity"
            android:exported="false" />
        <activity
            android:name=".TSPActivity"
            android:exported="false" />
        <activity
            android:name=".GMSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".KPSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TSPSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>